/* .add-item-tabs {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    border: 1px solid black;
} */

.tab-header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.table-header.MuiTableCell-root {
  font-weight: 530;
  font-size: 15px;
}

.table-info.MuiTableCell-root {
    font-weight: 450;
    font-size: 15px;
}

.bottom-table-row.MuiTableRow-root > td {
    border-bottom: 2px solid grey;
}

.head {
    font-size: 22px;
}